<div id="<%= dom_id hero %>">
  <p>
    <strong>Name:</strong>
    <%= hero.name %>
  </p>

  <p>
    <strong>Remote image:</strong>
    <%= hero.remote_image %>
  </p>

  <p>
    <strong>Primary attribute:</strong>
    <%= hero.primary_attribute %>
  </p>

  <p>
    <strong>Attack type:</strong>
    <%= hero.attack_type %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= hero.roles %>
  </p>

</div>
