<p style="color: green"><%= notice %></p>

<%= render @hero %>

<div>
  <%= link_to "Edit this hero", edit_hero_path(@hero) %> |
  <%= link_to "Back to heros", heros_path %>

  <%= button_to "Destroy this hero", @hero, method: :delete %>
</div>
